body{
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/plants3.jpg);
    background-size: 6in;
    background-attachment: fixed;
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

nav li a:hover {
    color: #546e4e;
}


button{
    text-align: center;
    background-color: rgb(195, 226, 192);
}


.buttontext{
    background-color: rgb(131, 167, 128) !important;
    border-color: rgb(131, 167, 128) !important; 
    position: relative;
}

.products{
    position: relative;
    border: solid 3px black;
    height: 6in;
    margin: 5px;
    padding: 5px;
    border-radius: 50% 50% 50% 50% / 10% 10% 10% 10% ;
    text-align: center;
    float: left;
}

.products::before {    
    content: "";
    border-radius: 50% 50% 50% 50% / 10% 10% 10% 10% ;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 60%;
}

.plantpictures{
    max-height: 200px;
    position: relative;
    
}

.navbackground{
    background-image: url("");
    background-color: rgb(201, 165, 110);

}

.navlinkcolor{
    color: rgb(240, 240, 240) !important;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3b9139;
    text-shadow: 4px 4px 4px  #4e4e4e;
}

h1{
    font-size: 150px !important;
    text-align: center;
    font-weight: 800 !important;
}

.contactusform{
    position: relative;
    border: white 4px solid;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
}

.contactusform::before {    
    content: "";
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 60%;
}

h2{
    font-size: 50px !important;
    position: relative;
}

p{
    position: relative;
}